# TON Blueprint
node_modules
# build (uncommented to allow Vercel/CI access to wrappers)
# build
temp
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Compilation traces
*.log

package-lock.json